---
import { Image } from "astro:assets";
import Bento from "../components/Bento.astro";
import GitHubIcon from "../components/icons/GitHubIcon.astro";
import Layout from "../layouts/Layout.astro";
import LinkedInIcon from "../components/icons/LinkedInIcon.astro";
import picture from "../assets/picture.png";
import SocialLink from "../components/SocialLink.astro";
import ThisIsMe from "../components/ThisIsMe.astro";
---

<Layout
  title="Brayan's Portfolio"
  description="Frontend Web Developer studying at Platzi. Sponsored by the great generosity of midudev. Working with web technologies like Astro, React and Next.js"
>
  <main class="sm:w-xl sm:mx-auto lg:w-full lg:mx-0">
    <section class="hero-section mb-24">
      <h1
        class="mt-14 md:mt-24 text-4xl md:text-[40px] font-bold leading-tight"
      >
        Welcome to Brayan's Portfolio!
      </h1>
      <div
        class="flex flex-col md:flex-row gap-4 md:justify-between lg:justify-normal lg:gap-32"
      >
        <p class="mt-8 max-w-[60ch]">
          Hi, my name is Brayan Castillejo. I'm from Cali, Colombia, and I'm
          currently building web projects. I'm focused on improving my skills,
          gaining experience by creating fun things, collaborating, and
          learning, all toward eventually working on products with a team.
        </p>
        <div class="flex">
          <Image
            class="size-32 rounded-full"
            src={picture}
            loading="eager"
            width={540}
            height={540}
            alt="Brayan's picture."
          />
          <ThisIsMe />
        </div>
      </div>
      <nav class="flex gap-4 mt-4">
        <SocialLink
          href="https://www.linkedin.com/in/brayan-castillejo-005b30330/"
        >
          <LinkedInIcon />
          LinkedIn
        </SocialLink>
        <SocialLink href="https://github.com/brayancastillejo">
          <GitHubIcon />
          GitHub
        </SocialLink>
      </nav>
    </section>
    <section id="projects" class="proyects-section mb-24">
      <h2 class="text-3xl font-semibold mb-6">Projects</h2>
      <Bento />
    </section>
    <section id="skills" class="skills-section mb-24">
      <h2 class="text-3xl font-semibold mb-6">Skills</h2>
      <p class="mb-4">
        As a newcomer to the web space I'm quite amazed by all the technologies
        and architectures there are to build modern web applications.
      </p>
      <p>
        My experience working with <strong class="text-[#387ca0]">React</strong>
        makes my code reusable and well-structured. <strong
          class="text-[#d24fa8]">Astro</strong
        > allows me to build blazingly fast content-driven websites. Both&nbsp;<strong
          class="text-[#62baf3]"
          translate="no">Tailwind</strong
        >&nbsp;and&nbsp;<strong class="text-[#62baf3]" translate="no"
          >CSS modules</strong
        >&nbsp;are my allies for personalizing the apps I write. <strong
          >Next.js</strong
        >&mdash;the powerhouse of my toolkit&mdash;along with the robustness of <strong
          class="text-[#4476c0]">TypeScript</strong
        > provides me the options to develop highly dynamic, scalable and performant
        apps. All this suite of tools make a <strong class="text-orange-600"
          >GREAT PICK</strong
        > for your team!
      </p>
    </section>
    <section id="about" class="about-section mb-24">
      <h2 class="text-3xl font-semibold mb-6">About me</h2>
      <p class="pb-6">
        My name is Brayan Castillejo and I'm 20 years old. I decided to study
        web development after watching <a
          href="https://www.youtube.com/watch?v=ZYmIUiK8ZQI"
          class="text-orange-600 underline"
          >5 years of systems engineering summarized in 12 minutes</a
        > when I was about to graduate high school and wasn't sure what to do after.
      </p>
      <p class="pb-6">
        Before I enrolled at Platzi and got my laptop I studied English for over
        a year, nowadays I have a B2/C1 level and I'm always trying to level up.
      </p>
      <p class="pb-6">
        I've been studying web development for 2 years now. I recognize my start
        was slow given my habit of attending traditional structured education
        and my lack of discipline, but I've been learning to be strict with my
        time and since the start I've progressed a lot.
      </p>
      <p>
        I keep most of my days writing code for projects and studying both in
        Platzi and through free content in the web, where I found <a
          href="https://www.youtube.com/@midulive"
          class="text-orange-600 underline"
          >one of the people that has helped me the most.</a
        >
      </p>
    </section>
  </main>
</Layout>

<script>
  fetch("https://electrotech-backend.onrender.com")
    .then((res) => console.log(res))
    .catch((error) => console.error(error));
</script>
