---
import { Image } from "astro:assets";
import picture from "../assets/picture.png";
import SocialLink from "../components/SocialLink.astro";
import ThisIsMe from "../components/ThisIsMe.astro";
import GitHubIcon from "../components/icons/GitHubIcon.astro";
import LinkedInIcon from "../components/icons/LinkedInIcon.astro";
import Layout from "../layouts/Layout.astro";
import Bento from "../components/Bento.astro";
---

<Layout
  title="Brayan's Portfolio"
  description="Frontend Web Developer studying at Platzi. Sponsored by the great generosity of midudev. Working with web technologies like Astro, React and Next.js"
>
  <main class="sm:w-xl sm:mx-auto lg:w-full lg:mx-0">
    <section class="hero-section mb-24">
      <h1
        class="mt-14 md:mt-24 text-4xl md:text-[40px] font-bold leading-tight"
      >
        Welcome to Brayan's Portfolio!
      </h1>
      <div
        class="flex flex-col md:flex-row gap-4 md:justify-between lg:justify-normal lg:gap-32"
      >
        <p class="mt-8 max-w-[60ch]">
          Hi, my name is Brayan Castillejo. I'm from Cali, Colombia, and I'm
          currently building web projects. I'm focused on improving my skills,
          gaining experience by creating fun things, collaborating, and
          learning, all toward eventually working on products with a team.
        </p>
        <div class="flex">
          <Image
            class="size-32 rounded-full"
            src={picture}
            loading="eager"
            width={540}
            height={540}
            alt="Brayan's picture."
          />
          <ThisIsMe />
        </div>
      </div>
      <nav class="flex gap-4 mt-4">
        <SocialLink href="https://www.linkedin.com">
          <LinkedInIcon />
          LinkedIn
        </SocialLink>
        <SocialLink href="https://github.com/brayancastillejo">
          <GitHubIcon />
          GitHub
        </SocialLink>
      </nav>
    </section>
    <section class="proyects-section mb-24">
      <h2 class="text-3xl font-semibold mb-6">Projects</h2>
      <Bento />
    </section>
    <section class="skills-section mb-24">
      <h2 class="text-3xl font-semibold mb-6">Skills</h2>
      <p class="mb-4">
        As a newcomer to the web space I'm quite amazed by all the technologies
        and architectures there are to build modern web applications.
      </p>
      <p>
        My experience working with <strong class="text-[#387ca0]">React</strong>
        makes my code reusable and well-structured. <strong
          class="text-[#d24fa8]">Astro</strong
        > allows me to build blazingly fast content-driven websites. Both&nbsp;<strong
          class="text-[#62baf3]"
          translate="no">Tailwind</strong
        >&nbsp;and&nbsp;<strong class="text-[#62baf3]" translate="no"
          >CSS modules</strong
        >&nbsp;are my allies for personalizing the apps I write. <strong
          >Next.js</strong
        >&mdash;the powerhouse of my toolkit&mdash;along with the robustness of <strong
          class="text-[#4476c0]">TypeScript</strong
        >
        provides me the options to develop highly dynamic, scalable and performant
        apps. All this suite of tools make a <strong class="text-orange-600"
          >GREAT PICK</strong
        > for your team!
      </p>
    </section>
  </main>
</Layout>

<style></style>
