<div class="flex flex-col gap-4 xs:flex-row aspect-square">
  <!-- left column -->
  <div class="flex flex-col xs:w-1/3 gap-4">
    <div class="hidden xs:block xs:h-1/3 xs:bg-[#09f] xs:rounded-lg">
      Box 1 😴
    </div>
    <div class="w-full h-48 bg-[#09f] rounded-lg xs:w-auto xs:h-2/3">
      Project 1 🚧
    </div>
  </div>
  <!-- right column -->
  <div class="flex flex-col xs:w-2/3 gap-4 xs:gap-0">
    <!-- right first row -->
    <div class="w-full h-48 bg-[#09f] rounded-lg xs:w-auto xs:h-1/3 xs:mb-4">
      Project 2 🚧
    </div>
    <!-- right second row -->
    <div class="flex gap-4 xs:h-1/3 xs:pb-2">
      <div class="hidden xs:block xs:bg-[#09f] xs:rounded-lg xs:w-1/2">
        Box 2 😴
      </div>
      <div class="w-full h-48 bg-[#09f] rounded-lg xs:w-1/2 xs:h-full">
        Project 3 🚧
      </div>
    </div>
    <!-- right third row -->
    <div class="flex gap-4 xs:h-1/3 xs:pt-2">
      <div class="w-full h-48 bg-[#09f] rounded-lg xs:w-1/2 xs:h-full">
        Project 4 🚧
      </div>
      <div class="hidden xs:block xs:bg-[#09f] xs:rounded-lg xs:w-1/2">
        Box 3 😴
      </div>
    </div>
  </div>
</div>
