---
import Logo from "./Logo.astro";
---

<header
  class="flex justify-between items-center px-5 w-full h-12 rounded-full shadow-md shadow-orange-600/40"
>
  <Logo />
  <nav class="flex gap-3">
    <a class="hover:text-orange-600 transition" href="/projects">Projects</a>
    <a class="hover:text-orange-600 transition" href="/skills">Skills</a>
    <a class="hover:text-orange-600 transition" href="/about">About</a>
  </nav>
</header>
