<a
  href={Astro.props.href}
  target="_blank"
  rel="noopener noreferrer"
  class="flex gap-1 border border-orange-600/80 hover:border-orange-600 bg-orange-600/30 hover:bg-orange-600 transition rounded-full py-1 px-2 cursor-pointer"
>
  <slot />
</a>
