---
import "@fontsource-variable/inter";
import Header from "../components/Header.astro";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={Astro.props.description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <slot />
  </body>
</html>
<style is:global>
  :root {
    color-scheme: light dark;
    --logo-fill-color: #000;
    --background-color: white;
    --color: #0d0d0d;
    --orange-600: #ea580c;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html {
    font-family: "Inter variable", system-ui, sans-serif;
  }
  body {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 16px;
    min-height: 100vh;
    max-width: 1024px;
    background-color: var(--background-color);
    color: var(--color);
  }
  @media (prefers-color-scheme: dark) {
    :root {
      --logo-fill-color: #fff;
      --background-color: #0d0d0d;
      --color: white;
    }
  }
</style>
